/.obsidian/workspace
/.obsidian/plugins/quiz-generator/data.json
/.obsidian/plugins/quiz-generator/data.json
/.obsidian/plugins/quiz-generator/data.json
/.smart-env/smart_env.json
/.obsidian/workspace.json
/.smart-env/multi
*.ajson
.obsidian/workspace.json
.obsidian/workspace.json
